body {
  font-family: 'Staatliches', cursive;
  font-size: 16px;
}
body.active {
  overflow: hidden;
  z-index: -1;
}

.significant {
  color: #000;
  font-weight: 600;
}
.left {
  text-align: left;
}
p{
  font-family: 'Open Sans', sans-serif;
}
ul{
  font-family: 'Open Sans', sans-serif;
}
@keyframes dropHeader {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  animation-name: dropHeader;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 0.75s;
}
header ul {
  display: inline-block;
  background: #fff;
  text-align: center;
  padding: 10px;
  margin: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
header li {
  display: inline-block;
}
header li.thick{
  background: #eee;
  border-radius: 4px;
}
header a {
  display: block;
  color: #404B51;
  padding: 10px;
  transition: 0.3s;
}
header a:hover {
  color: #404B51;
  text-decoration: none;
  background: #eee;
  border-radius: 4px;
}
header a:focus {
  color: #d8e8f0;
  text-decoration: none;
}
header.active {
  display: block;
}
header.sticky {
  position: fixed;
  z-index: 999;
}
#menu.active {
  display: block;
}
#mobile-menu-open {
  display: none;
  cursor: pointer;
  position: fixed;
  right: 15px;
  top: 10px;
  color: #3e5355;
  font-size: 1.5em;
  z-index: 20;
  padding: 0 7px;
  border-radius: 4px;
  background: #fff;
}
#mobile-menu-close {
  display: none;
  text-align: right;
  width: 100%;
  background: #fff;
  font-size: 1.5em;
  padding-right: 15px;
  padding-top: 10px;
  cursor: pointer;
  color: #3e5355;
}
#mobile-menu-close span {
  font-size: 0.5em;
  text-transform: uppercase;
}
#mobile-menu-close i {
  vertical-align: middle;
}
footer {
  padding: 50px 0;
}
.copyright {
  padding-top: 20px;
}
.copyright p {
  margin: 0;
  color: #74808a;
}
.top {
  text-align: center;
}
.top span {
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #b9bfc4;
  text-align: center;
}
.top i {
  color: #74808a;
}
.social {
  text-align: right;
}
.social ul {
  margin: 5px 0 0 0;
  padding: 0;
}
.social li {
  display: inline-block;
  font-size: 1.25em;
  list-style: none;
}
.social a {
  display: block;
  color: #74808a;
  padding: 10px;
}
.social a:hover {
  color: #d8e8f0;
}
.btn-rounded-white {
  display: inline-block;
  padding: 15px 25px;
  border: 3px solid #000;
  border-radius: 30px;
  transition: 0.5s ease all;
}
.btn-rounded-white:hover {
  color: #484d50;
  background: #fff;
  border-color:white;
  text-decoration: none;
}
.btn-rounded-white:focus {
  text-decoration: none;
}
.shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.shadow-large {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}
.heading {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 300;
  margin: 0 0 30px 0;
}
.heading:after {
  position: absolute;
  content: '';
  top: 100%;
  height: 1px;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: #d8e8f0;
}
.background-alt {
  background: #f2f2f5;
}

hr{
  width:70%;
  text-align: center;
}

img{
  border-radius: 15px;
}
/*
 --------------------------
 ----- 4. Lead Styles -----
 --------------------------
 */
#lead {
  position: relative;
  height: 100vh;
  min-height: 500px;
  max-height: 1080px;
  background: url('../images/skeetshot_desk_mock.jpg');
  background-size: cover;
  padding: 15px;
  overflow: hidden;
}
#lead-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#lead-content h1, #lead-content h2 {
  margin: 0;
}
#lead-content h1 {
  color: #262626;
  font-weight: 900;
  font-size: 5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.9em;
}
#lead-content h2 {
  color: #262626;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 2.25em;
  margin-bottom: 15px;
}
#lead-down {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 10;
  bottom: 15px;
  color: #000;
}
#lead-down span {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 3px solid #fff;
  text-align: center;
}
#lead-down i {
  animation: pulsate 1.5s ease;
  animation-iteration-count: infinite;
  padding-top: 5px;
}
#lead-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255, 0.8);
  z-index: 1;
}
#lead a{
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
@keyframes pulsate {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
/*
 ---------------------------
 ----- 5. About Styles -----
 ---------------------------
 */
#about {
  padding: 75px 15px;
}
#about h2 {
  color: #374054;
}
#about p {
  margin: 0;
}
#about img{
  text-align: center;
  max-width: 100%;
  height: auto;
  border-radius:0;
}
/*
 -------------------------------
 ----- 7. design Styles -----
 -------------------------------
 */
#design {
  padding: 50px 15px 20px 15px;
  text-align: center;
}
#design h2 {
  color: #262626;
  margin-bottom: 50px;
}
#design img{
  text-align: center;
  max-width: 100%;
  height: auto;
  border-radius:0;
}
#design ul {
  text-align: left;
}
/*
 ---------------------------
 ----- 5. Research Styles -----
 ---------------------------
 */
#research {
  padding: 75px 15px;
}
#research h2 {
  color: #262626;
}
#research p {
  margin: 0;
}
#research img{
  text-align: center;
  max-width: 90%;
  height: auto;
}
/*
 -------------------------------
 ----- 8. Project Styles -----
 -------------------------------
 */
#prototype {
  padding: 50px 15px;
  text-align: center;
  align-items: center;
}
#prototype h2 {
  color: #262626;
  margin-bottom: 50px;
}
#prototype img{
  text-align: center;
  margin-top:25px;
  max-width: 90%;
  height: auto;
}
#prototype a {
  display:none;
}
#prototype img {
  border-radius: 0;
}
#prototype iframe {
  max-width: 100%;
}

@media only screen and (max-width: 768px) {
  #prototype a {
    display:block;
    padding:5;
    text-align: center;
  }
  #prototype iframe {
    margin-top:50px;
  }
  #prototype .conn-img {
    display:none;
  }
}

/*
 -------------------------------
 ----- 9. roles Styles -----
 -------------------------------
 */
#roles {
  padding: 50px 15px;
  text-align: center;
}
#roles h2 {
  color: #262626;
  margin-bottom: 50px;
}
#roles ul {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
}
#roles li {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: #404B51;
  background: #f2f2f5;
  list-style: none;
  cursor: default;
  font-size: 1.2em;
}
/*
 -----------------------------
 ----- 12. Media Queries -----
 -----------------------------
 */
@media only screen and (max-width: 750px) {
  #research-timeline:before, #research-timeline:after {
    left: 23px;
  }
  .vtimeline-date {
    width: auto;
    text-align: left;
    position: relative;
    margin-bottom: 15px;
    display: block;
    margin-left: 70px;
  }
  .vtimeline-icon {
    margin-left: 0;
  }
  .vtimeline-content {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 992px) {
  #lead {
    height: auto;
    min-height: auto;
    max-height: auto;
    padding: 100px 15px;
  }
  #lead-content {
    position: relative;
    transform: none;
    left: auto;
    top: auto;
  }
  #lead-content h1 {
    font-size: 3em;
  }
  #lead-content h2 {
    font-size: 1.75em;
  }
  #about {
    text-align: center;
  }
  #about p {
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  header {
    position: fixed;
    display: none;
    z-index: 999;
    animation: none;
    bottom: 0;
    height: 100%;
  }
  #mobile-menu-open, #mobile-menu-close {
    display: block;
  }
  #menu {
    height: 100%;
    overflow-y: auto;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
  }
  #menu li {
    display: block;
    margin-bottom: 10px;
  }
  #lead-content h1 {
    font-size: 2em;
  }
  #lead-content h2 {
    font-size: 1.3em;
  }
  #lead-content a {
    padding: 10px 20px;
  }
  #lead-down {
    display: none;
  }
  .design-block h3, .design-block span {
    float: none;
  }
  .project-image {
    display: block;
    margin: 20px auto 0 25px;
  }
  .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    top: auto;
    transform: none;
  }
  footer {
    text-align: center;
  }
  .social {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  #lead-content h1 {
    font-size: 1.5em;
  }
  #lead-content h2 {
    font-size: 1em;
  }
  #lead-content a {
    font-size: 0.9em;
    padding: 5px 10px;
  }
}
