/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}


/* TYPOGRAPHY */

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-heavy {
  font-weight: 700;
}

/* POSITIONING */

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 70%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 75%;
    max-width: 60rem;
  }
}



/* ------------- Begin CSS ------------- */

/* -------- Navigation -------- */
.navbar {
    padding-bottom: 10px;
		}
		.main-nav {
		    list-style-type: none;
		    display: none;
		}
			.nav-links,
			.logo {
			    text-decoration: none;
			    color: #434343;
			}
			.nav-links{
				font-family: 'Julius Sans One', sans-serif;
			  font-size: 18px;
			  margin-right: 30px;
			}
			.nav-links:hover{
			  opacity: 0.5;
			}

			.main-nav li {
			    text-align: center;
			    margin: 15px auto;
			}
			.logo {
					font-family: 'Julius Sans One', sans-serif;
			    display: inline-block;
			    font-size: 40px;
					margin: 10px 0 0 25px;
					color: #434343;
			}


			.navbar-toggle {
			    position: absolute;
					margin: 20px 15px 0 0;
			    right: 20px;
			    cursor: pointer;
			    color: #434343;
			    font-size: 24px;
			}

			.active {
			  display: block;
			}
/* ---------- Navbar Responsiveness ---------- */
	@media screen and (min-width: 990px) {
	    .navbar {
	        display: flex;
	        justify-content: space-between;
	        padding-bottom: 0;
	        height: 70px;
	        align-items: center;
	    }
	    .main-nav {
	        display: flex;
	        margin-right: 80px;
	        flex-direction: row;
	        justify-content: flex-end;
	    }
	    .main-nav li {
	        margin: 0;
	    }
	    .nav-links {
	        margin-left: 3vw;
	    }
	    .logo {
	        margin-top: 0;
	    }
	   .navbar-toggle {
	       display: none;
	    }
	    .logo:hover,
	    .nav-links:hover {
	        opacity: 0.5;
	    }
	}

body{
	background-color: white;
}

h1{
	color: #434343;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 0 0 10% 0;
}
	.graphic-head{
		display: none;
	}
.row{
	margin-top: 1%;
}
	.row.bio{
		background-image: url(../img/DSC_4876.jpg);
		background-size: cover;
		background-position: center;
		text-align: center;
		margin-left: -9%;
	}
		.row.outline{
			background-color: #ECF1F2;
			padding: 3%;
		}

		.bio{
			color: #ffffff;
			font-family: 'Crimson Text', serif;
			text-align: center;
			font-size: 28px;
			line-height: 42px;
			letter-spacing: 2px;
			padding: 15% 10% 5% 10%;
		}
			.bio span{
				font-size: 32px;
			}


.arrow img{
  text-align: center;
  width: 10%;
  height: auto;
	margin: 0 45% 7% 45%;
}
		.arrow img:hover{
		  opacity:0.5;
		}

#work{
	text-align: center;
}
	#work .col-5{
		text-align: center;
		width: 60%;
		margin: 0 -130px 30px -130px;
	}
		#work ul li{
			display: inline;
			text-align: center;
		}
		#work ul li figcaption{
    	text-align: center;
			margin: 3% 0 3% 0;
			font-size: 20px;
			color: #434343;
			font-family: 'Julius Sans One', sans-serif;
		}
			#work ul li a{
				text-decoration: none;
			}
				#work ul li a:hover{
					opacity: 0.5;
				}


.proj-img{
	width: 50%;
	height: auto;
	box-shadow: 1px 2px 5px lightgrey;
	border-radius: 50%;
}
.proj-img-static{
	width: 50%;
	height: auto;
}

h2.port-head{
	font-family: 'Crimson Text', serif;
	font-size: 90px;
	text-align: center;
	margin: 5% 0 5% 0;
}
 .res-title{
	 font-size:50px;
 }
#bio{
	width: 65%;
	height: auto;
	border-radius: 50%;
}
	.row.bio.contact{
		background-image: url(../img/DSC_0138.jpg);
		background-size: cover;
		background-position: center;
		text-align: center;
		margin-left: -9%;
	}
		.in-touch span{
			font-size: 80px;
		}
.contact-me{
	text-align: center;
}
	.contact-me table{
		text-align: center;
		font-size: 30px;
		width: 100%;
	}
		.contact-me th{
			text-align: left;
			font-size: 30px;
			font-weight: bold;
			font-family: 'Julius Sans One', sans-serif;
			padding-left: 30%;
		}
		.contact-me td{
			padding: 3% 30% 3% 0;
			font-family: 'Crimson Text', serif;
		}

	.proj-head{
		font-family: 'Julius Sans One', sans-serif;
		text-align: center;
		font-size: 65px;
		margin: 5% 0 5% 0;
	}


	h2{
		font-family: 'Caveat';
		font-size: 30px;
		text-align: center;
		margin: 0 0 5% 0;
	}

	h3{
		color: #99aeb1;
		font-family: 'Raleway', sans-serif;
		font-size: 25px;
		text-align: center;
		margin: 0 0 5% 0;
	}
			h3.title{
				font-family: 'Crimson Text', serif;
				text-align: center;
				color: black;
				font-size: 30px;
				margin-bottom: 2%;
			}
			h3 span{
				color: #434343;
			}
			h3 a{
				color: #434343;
				font-size: 30px;
				text-decoration: none;
			}
.proj-des{
	text-align: left;
}
		.proj-des ul{
			text-decoration: inherit;
		}
	.row.project h3{
		margin: 5% 0 5% 0;
	}
	hr{
		width: 70%;
		margin-bottom: 10%;
	}
		hr.nav-hr{
			width: 90%;
		}
		hr.graphics{
			width: 80%;
			margin: 10%;
		}
h4{
	font-family: 'Comfortaa';
	text-align: center;
	font-size: 16px;
	margin: 0;
}
	h4 span{
		font-weight: bold;
		font-size: 18px;
	}

h5{
	font-family: 'Julius Sans One', sans-serif;
	font-size: 60px;
	text-align: center;
	margin: 0 0 5% 0;
}
	.col-12.res h3{
		font-size: 30px;
		margin-bottom: 1%;
	}
	.col-6.res h3{
		font-size: 25px;
		margin-bottom: 1%;
	}
	.col-12.res p{
		font-family: 'Comfortaa';
		line-height: 24px;
		font-size: 16px;
		text-align: center;
		width: 50%;
		margin: 0 25% 5% 25%;
	}
	.row.res{

	}

.container{
	margin-bottom: 10%;
}

	/* -------- Footer -------- */
	footer {
	  font-size: 15px;
		font-family: 'Roboto', sans-serif;
	  color: white;
	  background: #272727;
	}
			footer p{
				display: block;
				font-size: 15px;
				color: #f7f7f7;
			}
			footer a{
			  color: #f7f7f7;
			}
			footer a:hover{
			  color: #ccffff;
			}
			.social{
				float: right;
				width: 8%;
				height: auto;
				margin: 2% 5% 0 0;
			}
			.social:hover{
				opacity: 0.5;
			}



/* ---------- Mobile ---------- */
@media screen and (max-width: 800px) {
.arrow img{
	display:none;
}
.col-6{
	text-align:center;
}
#bio{
	width: 60%;
	height: auto;
}
	.bio{
		text-align: center;
		margin: 5% 5% 25% 5%;
		outline: none;
		padding: 0;
		font-size: 15px;
		line-height: 25px;
	}

	.row.bio{
		background-image: url(../img/DSC_4876.jpg);
		background-size: cover;
		background-position: center;
		text-align: center;
		margin-left: 0;
	}


	h1{
		display: none;
	}

	hr{
		margin: 20% 15% 20% 15%;
	}
	.graphic-head{
		display: block;
	}
	#work{
		text-align: center;
	}
		#work .col-5{
			width: 100%;
			margin: 0;
		}
			#work ul li{
				display: block;
			}
			#work ul li figcaption{
				margin: 4% 0 8% 0 ;
				font-size: 20px;
			}
				#work ul li a{
					text-decoration: none;
				}
					#work ul li a:hover{
						opacity: 0.5;
					}

.proj-img{
	width: 50%;
	height: auto;
	border-radius: 50%;
}
.proj-head{
		outline: none;
		font-size: 30px;
}

.row.bio.contact{
	background-image: url(../img/DSC_0138.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	margin-left: 0;
	padding-top: 1%;
}
		.row.bio.contact p span{
			font-size: 40px;
		}


.contact-me{
	text-align: center;
}
	.contact-me table{
		text-align: center;
		margin: -10% 0 20% 0;
		width: 100%;
		font-size: 18px;
		line-height: 20px;
	}
		.contact-me th{
			padding: 5% 1% 1% 6%;
			font-size: 20px;
		}
		.contact-me td{
			padding: 5% 10% 5% 1%;
		}
		.tb-title{
			margin: 20% 0 15% 0;
			font-size: 45px;
		}
h2{
		font-size: 25px;
		margin-top: 1%;
}
	h2.port-head{
		font-size: 50px;
		margin-bottom: -25px;
	}
		#shutter{
			font-size: 50px;
		}
h3{
	font-size: 15px;
	width: 90%;
	margin: 2% 5% 5% 5%;
}
	h3.title{
		text-align: center;
		color: grey;
		font-size: 30px;
	}
	h3 a{
		font-size: 18px;
	}
h4{
	font-size: 12px;
	margin-top: 5%;
}
	h4 span{
		font-size: 14px;
	}
h5{
	font-size: 40px;
}
	.col-12.res h3{
		font-size: 20px;
		margin-top: 5%;
		margin-bottom: 1%;
	}
	.col-6.res h3{
		font-size: 16px;
		margin-bottom: 1%;
	}
	.col-12.res p{
		font-size: 12px;
		width: 100%;
		margin: 5% 0 0 0;
	}
	.col-12.proj{
		font-size: 16px;
		width: 100%;
		margin: 0;
	}
	#roles{
		text-align: center;
		margin: 0;
		font-family: 'Roboto', sans-serif;
	}

/* -------- Footer -------- */
footer {
  font-size: 15px;
	font-family: 'Roboto', sans-serif;
  color: white;
  background: #272727;
}
		footer p{
			display: block;
			font-size: 12px;
			color: #f7f7f7;
		}
		footer a{
		  color: #f7f7f7;
		}
		footer a:hover{
		  color: #ccffff;
		}
		.social{
			width: 15%;
			height: auto;
			margin: 0 14% 0 0;
		}
	figcaption{
		margin: 15%;
	}

}


@media (min-width: 768px) and (max-width: 1024px) {


	h1{
		display:none;
	}
	#work{
		text-align: center;
	}
		#work .col-5{
			margin: 0 -2% 0 -2%;
			width: 100%;
		}

	#bio{
		width: 80%;
		height: auto;
	}
		.bio{
			color: #ffffff;
			text-align: center;
			margin: 2%;
			outline: none;
			font-size: 25px;
			line-height: 32px;
		}
		h1{
			text-align: center;
		}
		.graphic-head{
			display: block;
			margin: 5%;
		}
	.social{
		width: 12%;
		height: auto;
		margin: 5% 14% 0 0;
	}
	figcaption{
		margin: 15%;
	}


	.contact-me table{
		text-align: center;
		font-size: 18px;
		line-height: 20px;
	}
		.contact-me th{
			font-size: 24px;
		}
}
