// Open Sans
@font-face {
  font-family: "Open-Sans-Regular";
  src: url("../fonts/open_sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open-Sans-SemiBold";
  src: url("../fonts/open_sans/OpenSans-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open-Sans-Bold";
  src: url("../fonts/open_sans/OpenSans-Bold.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "Open-Sans-Extra-Bold";
  src: url("../fonts/open_sans/OpenSans-ExtraBold.ttf");
}

// Lora
@font-face {
  font-family: "Lora-Regular";
  src: url("../fonts/lora/Lora-Regular.ttf");
}
@font-face {
  font-family: "Lora-Semi-Bold";
  src: url("../fonts/lora/Lora-SemiBold.ttf");
}
@font-face {
  font-family: "Lora-Bold";
  src: url("../fonts/lora/Lora-Bold.ttf");
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Lora-Bold", serif;
  line-height: 1.5;
  color: $black;
}
b,
strong {
  font-family: "Open-Sans-Bold";
}
.min-font {
  font-size: 0.8em;
}

// ========================= COLOR
.text-primary {
  color: $primary !important;
}
.text-gray {
  color: $gray !important;
}

// ========================= ALIGNMENT
.text-align-center {
  text-align: center !important;
}
.text-align-left {
  text-align: right !important;
}
.text-align-right {
  text-align: right !important;
}
