// FONTS
$font-primary: "Open-Sans-Regular", Arial, sans-serif;

// COLORS
$white: #fff;
$black: #121212;
$gray: #888;
$primary: #1c819e;
$secondary: #ffbe00;
$bg: #f7f7f2;

// CORE
$border-radius: 5px;
