// FONTS
$font-primary: "Open-Sans-Regular", Arial, sans-serif;

// COLORS
$white: #fff;
$black: #222222;
$gray: rgb(206, 206, 206);
$primary: #ffbe00;
$secondary: #df7410;
$bg: #f7f7f2;

// CORE
$border-radius: 5px;
