@import "bootstrap/bootstrap";
@import "bootstrap/variables";
@import "utility";
@import "var";
@import "nav";
@import "owl";
@import "type";

body {
  transition: 0.5s ease-in-out;
  font-family: $font-primary;
  background: $white;
  font-size: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: darken($black, 45%);
  position: relative;
  &:after {
    position: fixed;
    top: -150px;
    right: -50px;
    bottom: 0;
    content: "";
    width: 400px;
    height: 600px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }
  &:before {
    position: fixed;
    top: 500px;
    left: -100px;
    bottom: 0;
    content: "";
    width: 400px;
    height: 400px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    z-index: -1;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    transform: rotate(20deg);
  }
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

a {
  color: $primary;
  transition: 0.4s ease-in-out;
  &:hover {
    color: $primary;
    background-color: lighten($primary, 45%);
    text-decoration: none;
  }
}

//resume button
.resume-btn {
  border: 2px solid $primary;
  padding: 8px 16px;
  border-radius: 150px;
  font-weight: 500;
  background-color: transparent;
  color: $primary;
  transition: 0.3s ease-in-out;
  font-size: 1em;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $primary;
    color: $white;
    outline: none;
    padding-left: 28px;
    padding-right: 28px;
  }
}

// about
.wrap {
  padding: 0;
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
  }
  .about-desc {
    @include media-breakpoint-up(md) {
      position: relative;
    }
    .bg-text {
      position: absolute;
      z-index: -1;
      top: -90px;
      left: -50px;
      right: 0;
      bottom: 0;
      font-weight: 900 !important;
      color: lighten($gray, 43%);
      text-transform: uppercase;
      @include media-breakpoint-up(lg) {
        font-size: 10em;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

// experience
.exp {
  width: 100%;
  float: left;
  margin-bottom: 3em;
}
.exp-wrap {
  width: 100%;
  border-bottom: 1px solid lighten($gray, 40%);
  float: left;
  .desc,
  .year {
    float: left;
  }
  .desc {
    width: calc(100% - 150px);
    h4 {
      font-weight: 900;
      font-family: "Open Sans", sans-serif;
      @include media-breakpoint-down(sm) {
        font-size: 0.9em;
      }
      span {
        color: $gray;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        @include media-breakpoint-down(sm) {
          font-size: 0.9em;
        }
      }
    }
    .location {
      margin-bottom: 0;
      font-size: 0.8em;
      color: $gray;
    }
  }
  .year {
    width: 150px;
    @include media-breakpoint-down(sm) {
      text-align: right;
      float: right;
      font-size: 0.65em;
    }
  }
}

// text for project thumbnails
.thumb-text {
  width: 100%;
  padding: 10% 7%;
  @include media-breakpoint-up(md) {
    width: 60%;
    padding: 7%;
  }
  .subheading {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gray;
  }
  .heading {
    font-size: 30px;
    margin-bottom: 30px;
    a {
      color: $black;
      border-bottom: 4px solid transparent;
      &:hover,
      &:focus {
        color: $primary;
        text-decoration: none;
        border-bottom: 4px solid $primary;
      }
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// scrollax animate
.animate {
  opacity: 0;
  visibility: hidden;
}

// skills
.skill {
  padding: 10px 15px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  line-height: 80px;
  white-space: nowrap;
}

// social media icons
.social {
  li {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block;
    a {
      height: 60px;
      width: 60px;
      @include media-breakpoint-down(sm) {
        height: 40px;
        width: 40px;
      }
      display: block;
      float: left;
      background: rgba($black, 0.05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }
      &:hover {
        color: $primary;
        background-color: lighten($primary, 46%);
      }
    }
  }
}

// footer
.footer {
  font-size: 16px;
  background-color: transparent;
  padding: 8em 0;
  p {
    color: rgba($black, 0.5);
  }
  a {
    color: rgba($black, 0.5);
    &:hover {
      color: $primary;
      text-decoration: none;
    }
  }
}
