@import "bootstrap/bootstrap";
@import "bootstrap/variables";
@import "utility";
@import "var";
@import "nav";
@import "owl";
@import "type";

* {
  &::selection {
    background-color: rgba(255, 255, 255, 0.995);
    color: $black;
  }
  ::-moz-selection {
    background-color: rgba(255, 255, 255, 0.995);
    color: $black;
  }
}

body {
  transition: 0.5s ease-in-out;
  font-family: $font-primary;
  background: $black;
  font-size: 18px;
  line-height: 1.8;
  font-family: "Open-Sans-Regular";
  color: darken($white, 15%);
  position: relative;
  &.menu-show {
    overflow: hidden;
    position: fixed;
    height: 100%;
    width: 100%;
  }
}

a {
  color: $primary;
  transition: 0.4s ease-in-out;
  &:hover {
    color: $black;
    background-color: $primary;
    text-decoration: none;
  }
}

//resume button
.rw-brn {
  border: 2px solid $primary;
  padding: 8px 18px;
  border-radius: 150px;
  font-family: "Open-Sans-SemiBold";
  background-color: transparent;
  color: $primary;
  transition: 0.3s ease-in-out;
  font-size: 1em;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: $primary;
    color: $black;
    outline: none;
    padding-left: 28px;
    padding-right: 28px;
  }
}

// about
.wrap {
  padding: 0;
  @include media-breakpoint-down(sm) {
    margin-top: 40px;
  }
  .about-desc {
    @include media-breakpoint-up(md) {
      position: relative;
    }
    .bg-text {
      position: absolute;
      z-index: -1;
      top: -90px;
      left: -50px;
      right: 0;
      bottom: 0;
      font-family: "Lora-Bold" !important;
      color: darken($white, 75%);
      text-transform: uppercase;
      @include media-breakpoint-up(lg) {
        font-size: 10em;
      }
      @include media-breakpoint-down(md) {
        display: none;
      }
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }
}

// text for project thumbnails
.thumb-text {
  width: 100%;
  padding: 10% 7%;
  @include media-breakpoint-up(md) {
    width: 60%;
    padding: 7%;
  }
  .subheading {
    font-family: "Open-Sans-Regular";
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $gray;
  }
  .heading {
    font-size: 30px;
    margin-bottom: 30px;
    a {
      color: $white;
      border-bottom: 4px solid transparent;
      &:hover,
      &:focus {
        color: $black;
        text-decoration: none;
      }
    }
  }
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// scrollax animate
.animate {
  opacity: 0;
  visibility: hidden;
}

// skills
.skill {
  padding: 10px 15px;
  background-color: rgb(240, 240, 240);
  border-radius: 5px;
  line-height: 80px;
  white-space: nowrap;
}

// social media icons
.social {
  li {
    list-style: none;
    margin: 0 10px 10px 0;
    display: inline-block;
    a {
      height: 60px;
      width: 60px;
      @include media-breakpoint-down(sm) {
        height: 40px;
        width: 40px;
      }
      display: block;
      float: left;
      background: rgba($white, 0.05);
      border-radius: 50%;
      position: relative;
      span {
        position: absolute;
        font-size: 26px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include media-breakpoint-down(sm) {
          font-size: 20px;
        }
      }
      &:hover {
        color: $primary;
        background-color: darken($primary, 40%);
      }
    }
  }
}

// footer
.footer {
  font-size: 16px;
  background-color: transparent;
  padding: 8em 0;
  p {
    color: rgba($white, 0.5);
  }
  a {
    color: rgba($white, 0.5);
    &:hover {
      color: $primary;
      text-decoration: none;
      background-color: darken($primary, 40%);
    }
  }
}
